// colors
$green: #abc4aa;
$dark-green: #749872;
$yellow: #eee0c9;
$brown: #a9907e;
$dark-brown: #9d806c;
$error-red: #ff6a6a;
//variables
$cardPadding: 10px 15px;
$stand-bord-rad: 10px;
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
